@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100vh;
}
body {
  margin: 0;
  outline: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}
#root {
  height: 100vh;
  width: 100%;
}
@font-face {
  font-family: "Bukhari";
  src: local("Bukhari"), url('./assets/Bukhari_Script.ttf') format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "BSA";
  src: local("BSA"), url('./assets/BukhariScriptAlternates.ttf') format("truetype");
  font-weight: normal;
}
.font-Bukhari {
  font-family: 'Bukhari', sans-serif;
}
.font-BSA {
  font-family: 'BSA', sans-serif;
}